extends ../layout

block content
  h1 Login Page

  form(action="/users/login" enctype="application/json" method="post")
    ul
      li Email:
        input(type="email" name="email")
      li Password:
        input(type="password" name="password")
    input(type="submit" value="Submit")
